.airports-city {
  background: #007bff;
  color: white;
  height: 50px;
  transition: all 0.3s ease-in;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px 5px 0 0;
  margin-top: 20px;
}

