.login-page{
 text-align: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form{
  width: 400px;
}

.login_button{
  width: 100%;
}