.airport-item{
  height: 50px;
  border: #007bff solid 1px ;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.2s ease-in;
}

.airport-item:last-child{
  border-bottom: #007bff 1px solid;
}

.airport-item:hover{
  background: #007bff;
  color: #fff;
  cursor: pointer;
  border-top: #fff 1px solid;
}