.modal-header .close {
  outline: none;
}

.modal__grid {
  display: flex;
  margin: auto;
}

.grid__tables {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tables__item {
  width: calc(100% / 5);
}

.grid__flights-header {
  display: flex;
  flex-direction: row;
}

.form-control {
  outline: none !important;
}

.form-group {
  outline: none !important;
}

input {
  outline: none;
}

.grid__header {
  margin-top: 10px;
}